<!DOCTYPE html>
<html lang="zxx" class="js">

<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-130503642-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
  	function gtag(){dataLayer.push(arguments);}
  	gtag('js', new Date());

  	gtag('config', 'UA-130503642-1');
	</script>
    <meta charset="utf-8">
    <meta name="author" content="Solaris [XLR]">
    <meta name="keywords" content="Solaris,Solariscoin,XLR,wallet,crypto,cryptocurrency,zerosolaris,zxlr,solaris reward program,program,txbit,faq">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Have some questions about Solaris cryptocurrency? Click here to see the answers to most frequently asked questions, or FAQ, now!">
    <!-- Fav Icon  -->
    <link rel="shortcut icon" href="images/favicon.png">
    <!-- Site Title  -->
    <title>Frequently Asked Questions (FAQ) - Solaris (XLR) Cryptocurrency</title>
    <!-- Vendor Bundle CSS -->
    <link rel="stylesheet" href="assets/css/vendor.bundle.css?ver=142">
    <!-- NextParticle -->
    <link rel="stylesheet" href="https://s3-us-west-2.amazonaws.com/s.cdpn.io/23500/nextparticle-documentation.css">
    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="assets/css/style.css?ver=142">
    <link rel="stylesheet" href="assets/css/theme.css?ver=142">

    <link rel="stylesheet" href="assets/css/vendor/hover-min.css">

    <link rel="stylesheet" href="assets/css/custom.css">

    <link rel="stylesheet" href="assets/css/responsive.css">

</head>

<body class="theme-dark io-lobelia" data-spy="scroll" data-target="#mainnav" data-offset="80">

    <!-- Header -->
    <header class="site-header is-sticky">
        <!-- Navbar -->
        <div class="navbar navbar-expand-lg is-transparent sticky-top" id="mainnav">
            <nav class="container-fluid">

                <a class="navbar-brand animated" data-animate="fadeInDown" data-delay=".5" href="index.html#about">
                    <img class="logo logo-light" alt="solaris-logo" src="images/logo-white.png" srcset="images/logo-white2x.png 2x"
                        style="pointer-events: none;">
                </a>

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle">
                    <span class="navbar-toggler-icon">
                        <span class="ti ti-align-justify"></span>
                    </span>
                </button>

                <div class="collapse navbar-collapse justify-content-end" id="navbarToggle">
                    <ul class="navbar-nav animated remove-animation" data-animate="fadeInDown" data-delay=".5">
                        <li class="nav-item smooth-scroll hvr-underline-from-left"><a class="nav-link menu-link" href="index.html">Home</a></li>
                        <li class="nav-item smooth-scroll hvr-underline-from-left"><a class="nav-link menu-link" href="index.html#about">About</a></li>
                        <li class="nav-item smooth-scroll hvr-underline-from-left"><a class="nav-link menu-link" href="index.html#txbit">txbit.io</a></li>
                        <li class="nav-item smooth-scroll hvr-underline-from-left"><a class="nav-link menu-link" href="index.html#wallets">Wallets</a></li>
                        <li class="nav-item smooth-scroll hvr-underline-from-left"><a class="nav-link menu-link" href="index.html#exchanges">Exchanges</a></li>
                        <li class="nav-item smooth-scroll hvr-underline-from-left"><a class="nav-link menu-link" href="team.html">Team</a></li>
                        <li class="nav-item smooth-scroll hvr-underline-from-left"><a class="nav-link menu-link" href="roadmap.html">Roadmap</a></li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">Resources</a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item menu-link hvr-underline-from-left" href="coin-params.html">Coin
                                    Parameters</a>
                                <a class="dropdown-item menu-link hvr-underline-from-left" href="faq.html">FAQ<span
                                        class="sr-only">(current)</span></a>
                                <a class="dropdown-item menu-link hvr-underline-from-left" href="resources.html">Whitepaper</a>
                                <a class="dropdown-item menu-link hvr-underline-from-left" href="resources.html">Press
                                    Pack</a>
                                <a class="dropdown-item menu-link hvr-underline-from-left" href="resources.html#explorers">Chain
                                    Explorers</a>
                                <a class="dropdown-item menu-link hvr-underline-from-left" href="resources.html#mn-rank">Masternode
                                    Stats</a>
                                <a class="dropdown-item menu-link hvr-underline-from-left" href="resources.html#mn-host">Masternode
                                    Hosting</a>
                                <a class="dropdown-item menu-link hvr-underline-from-left" href="index.html#medium">Solaris
                                    on Medium</a>
                                <a class="dropdown-item menu-link hvr-underline-from-left" href="http://solaris.helpsite.com/"
                                    target="_blank" title="Open Solaris Helpsire">Solaris
                                    Helpsite</a>
                                <a class="dropdown-item menu-link hvr-underline-from-left" href="calculator.html">Staking Calculator</a>
                            </div>
                        </li>
                    </ul>
                    <ul class="social animated" data-animate="fadeInUp" data-delay="0.5s" id="social-nav-bar">
                        <li class="hvr-hang"><a href="https://twitter.com/SolarisCoin"><em class="fab fa-twitter"></em></a></li>
                        <li class="hvr-hang"><a href="https://t.me/solariscoin"><em class="fab fa-telegram-plane"></em></a></li>
                        <li class="hvr-hang"><a href="https://discordapp.com/invite/wMcqapP"><em class="fab fa-discord"></em></a></li>
                        <li class="hvr-hang"><a href="https://www.reddit.com/r/solarisxlr/"><em class="fab fa-reddit-alien"></em></a></li>
                        <li class="hvr-hang"><a href="https://bitcointalk.org/index.php?topic=1831629.0"><em class="fab fa-bitcoin"></em></a></li>
                        <li class="hvr-hang"><a href="https://medium.com/@solarisxlr"><em class="fab fa-medium-m"></em></a></li>
                        <li class="hvr-hang"><a href="https://github.com/Solaris-Project/Solaris"><em class="fab fa-github"></em></a></li>
                    </ul>
                </div>
            </nav>
        </div>
        <!-- End Navbar -->

    </header>
    <!-- End Header -->


    <!-- FAQ -->
    <div class="section section-pad section-bg inner-bg " id="faq">
        <div class="container">
            <div class="row text-center">
                <div class="col-md-8 offset-md-2 col-lg-6 offset-lg-3">
                    <div class="section-head">
                        <h2 class="section-title animated" data-animate="bounceInDown" data-delay="0">Frequently asked
                            questions
                            <span>FAQS</span>
                        </h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8 offset-md-2">
                    <div class="tab-custom">
                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs text-center animated" data-animate="fadeInUp" data-delay="0">
                            <li class="nav-item">
                                <a class="nav-link active" data-toggle="tab" href="#tab-1">Solaris</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#tab-2">txbit.io</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#tab-3">Masternodes</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#tab-4">Staking</a>
                            </li>
                        </ul>
                        <!-- Tab panes -->
                        <div class="tab-content animated" data-animate="fadeInUp" data-delay=".1">
                            <div class="tab-pane fade show active" id="tab-1">
                                <div class="accordion" id="accordion-1">
                                    <div class="card">
                                        <div class="card-header">
                                            <h5>
                                                <a data-toggle="collapse" data-target="#collapse-1-1">
                                                    What is Solaris?<span class="plus-minus"><span class="ti ti-angle-up"></span></span>
                                                </a>
                                            </h5>
                                        </div>
                                        <div id="collapse-1-1" class="collapse show" data-parent="#accordion-1">
                                            <div class="card-body">
                                                <p>Solaris is a decentralized open source cryptocurrency focused on
                                                    privacy, innovation and the advancement of technology.
                                                    Utilizing environmentally friendly Proof of Stake consensus
                                                    protocol and a supporting secondary Masternode network, Solaris
                                                    establishes itself as a secure,
                                                    self-sustaining, decentralized and private cryptocurrency for
                                                    everyday use.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-header">
                                            <h5>
                                                <a class="collapsed" data-toggle="collapse" data-target="#collapse-1-2">
                                                    How do I get Solaris/XLR?<span class="plus-minus"><span class="ti ti-angle-up"></span></span>
                                                </a>
                                            </h5>
                                        </div>
                                        <div id="collapse-1-2" class="collapse" data-parent="#accordion-1">
                                            <div class="card-body">
                                                <p>Solaris, is actively traded on several cryptocurrency exchanges. For
                                                    the most recent list of exchanges that trade Solaris, please click
                                                    <a href="index.html#exchanges">here.</a> </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-header">
                                            <h5>
                                                <a class="collapsed" data-toggle="collapse" data-target="#collapse-1-3">
                                                    Where can I use Solaris/XLR?<span class="plus-minus"><span class="ti ti-angle-up"></span></span>
                                                </a>
                                            </h5>
                                        </div>
                                        <div id="collapse-1-3" class="collapse" data-parent="#accordion-1">
                                            <div class="card-body">
                                                <p>Solaris aims to be a widely used cryptocurrency via partnerships
                                                    with online retailers and vendors, marketplace integrations and
                                                    ease of use with instant transaction times.
                                                    Solaris is integrated into the MyCryptoCheckout plugin, can be used
                                                    to purchase goods and services on FLOGMall, and traded on various
                                                    exchanges around the globe.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-header">
                                            <h5>
                                                <a class="collapsed" data-toggle="collapse" data-target="#collapse-1-4">
                                                    Technical Problems?<span class="plus-minus"><span class="ti ti-angle-up"></span></span>
                                                </a>
                                            </h5>
                                        </div>
                                        <div id="collapse-1-4" class="collapse" data-parent="#accordion-1">
                                            <div class="card-body">
                                                <p>Please visit <a href="http://solaris.helpsite.com/">HELPSITE</a> and
                                                    search for a solution. If you do not find a solution that works for
                                                    you, please contact one of the admins on Telegram, Discord or by
                                                    emailing admin@solariscoin.com .</p>
                                            </div>
                                        </div>
                                    </div>
                                    
                                </div>
                            </div><!-- End tab-pane -->
                            <div class="tab-pane fade" id="tab-2">
                                <div class="accordion" id="accordion-2">
                                    <div class="card">
                                        <div class="card-header">
                                            <h5>
                                                <a data-toggle="collapse" data-target="#collapse-2-1">
                                                    What is Txbit.io?<span class="plus-minus"><span class="ti ti-angle-up"></span></span>
                                                </a>
                                            </h5>
                                        </div>
                                        <div id="collapse-2-1" class="collapse show" data-parent="#accordion-2">
                                            <div class="card-body">
                                                <p>Txbit is proudly made and based in the Netherlands. A cryptocurrency
                                                    exchange built from the ground up to meet today’s demands in
                                                    security, privacy, reliability and speed.
                                                    The proprietary trading engine and interface deliver a
                                                    blazing-fast, world-class user experience catering to traders who
                                                    enjoy spending some time behind the charts,
                                                    but also to those who prefer to be in and out quickly.<br><br>

                                                    Today’s cryptocurrency exchange industry is largely split into
                                                    small, poorly managed and outdated exchanges, and the large, high
                                                    volume exchanges that are near
                                                    impossible to be listed on due to high fees and excessive
                                                    bureaucracy. Txbit aims to fill this gap, providing a modern
                                                    exchange platform for everyone to use.
                                                    We are firm believers in growing the cryptocurrency industry
                                                    without bankrupting legitimate projects in the process.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-header">
                                            <h5>
                                                <a class="collapsed" data-toggle="collapse" data-target="#collapse-2-2">
                                                    How is Solaris involved?<span class="plus-minus"><span class="ti ti-angle-up"></span></span>
                                                </a>
                                            </h5>
                                        </div>
                                        <div id="collapse-2-2" class="collapse" data-parent="#accordion-2">
                                            <div class="card-body">
                                                <p>Solaris has part funded and participated in building the next
                                                    generation cryptocurrency exchange txbit.io. Solaris XLR is a base
                                                    market on txbit.io, together with BTC and ETH.
                                                    All Solaris Mastenode operators and Stakers can also take part in
                                                    the <a href="http://solaris.helpsite.com/">Solaris Reward Program.</a>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-header">
                                            <h5>
                                                <a class="collapsed" data-toggle="collapse" data-target="#collapse-2-4">
                                                    Solaris Reward Program?<span class="plus-minus"><span class="ti ti-angle-up"></span></span>
                                                </a>
                                            </h5>
                                        </div>
                                        <div id="collapse-2-4" class="collapse" data-parent="#accordion-2">
                                            <div class="card-body">
                                                <p>Solaris is the first cryptocurrency which enables a secondary layer
                                                    of rewards for operating a masternode or actively staking XLR.
                                                    All masternodes and staking address are eligible to receive 50% of
                                                    the Net trading fees from txbit.io, after costs and expenses. Learn
                                                    more at <a href="http://solaris.helpsite.com/">Solaris Reward
                                                        Program.</a></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div><!-- End tab-pane -->
                            <div class="tab-pane fade" id="tab-3">
                                <div class="accordion" id="accordion-3">
                                    <div class="card">
                                        <div class="card-header">
                                            <h5>
                                                <a data-toggle="collapse" data-target="#collapse-3-1">
                                                    How much Solaris / XLR to run a masternode?<span class="plus-minus"><span
                                                            class="ti ti-angle-up"></span></span>
                                                </a>
                                            </h5>
                                        </div>
                                        <div id="collapse-3-1" class="collapse show" data-parent="#accordion-3">
                                            <div class="card-body">
                                                <p>1,000 XLR</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-header">
                                            <h5>
                                                <a class="collapsed" data-toggle="collapse" data-target="#collapse-3-2">
                                                    How to set-up a mastenode?<span class="plus-minus"><span class="ti ti-angle-up"></span></span>
                                                </a>
                                            </h5>
                                        </div>
                                        <div id="collapse-3-2" class="collapse" data-parent="#accordion-3">
                                            <div class="card-body">
                                                <p>Latest guide on how to set up a masternode: <a href="http://solaris.helpsite.com/articles/27273-masternode-setup-guide-latest">Masternode
                                                        Set-up guide.</a></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div><!-- End tab-pane -->
                            <div class="tab-pane fade" id="tab-4">
                                <div class="accordion" id="accordion-4">
                                    <div class="card">
                                        <div class="card-header">
                                            <h5>
                                                <a data-toggle="collapse" data-target="#collapse-4-1">
                                                    How much Solaris / XLR do I need to be able to stake?<span class="plus-minus"><span
                                                            class="ti ti-angle-up"></span></span>
                                                </a>
                                            </h5>
                                        </div>
                                        <div id="collapse-4-1" class="collapse show" data-parent="#accordion-4">
                                            <div class="card-body">
                                                <p>You can use any amount to stake Solaris. The bigger the amount, the
                                                    higher the chance that you will get a reward.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-header">
                                            <h5>
                                                <a class="collapsed" data-toggle="collapse" data-target="#collapse-4-2">
                                                    How do I stake Solaris / XLR?<span class="plus-minus"><span class="ti ti-angle-up"></span></span>
                                                </a>
                                            </h5>
                                        </div>
                                        <div id="collapse-4-2" class="collapse" data-parent="#accordion-4">
                                            <div class="card-body">
                                                <p>Latest guide on how to stake Solaris / XLR: <a href="http://solaris.helpsite.com/articles/24856-staking-setup-guide-with-gui-qt-wallet">Staking
                                                        guide.</a></p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                            <div class="card-header">
                                                <h5>
                                                    <a class="collapsed" data-toggle="collapse" data-target="#collapse-4-3">
                                                        Staking Calculator?<span class="plus-minus"><span
                                                                class="ti ti-angle-up"></span></span>
                                                    </a>
                                                </h5>
                                            </div>
                                            <div id="collapse-4-3" class="collapse" data-parent="#accordion-4">
                                                <div class="card-body">
                                                    <p>You can find the staking calculator on this page: <a href="calculator.html">Staking Calculator</a></p>
                                                </div>
                                            </div>
                                        </div>
                                </div>
                            </div><!-- End tab-pane -->
                        </div><!-- End tab-content -->
                    </div><!-- End tab-custom -->
                </div><!-- End col -->
            </div><!-- End row -->
        </div><!-- End container -->
    </div>
    <!-- End Section -->



    <!-- Footer -->
    <div class="section footer-scetion">
        <div class="social-overlap">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-10">
                        <ul class="social-bar animated" data-animate="fadeInUp" data-delay=".1">
                            <li>Follow us</li>
                            <li class="hvr-bounce-in btm-social-icons"><a href="https://twitter.com/SolarisCoin"><em
                                        class="fab fa-twitter"></em></a></li>
                            <li class="hvr-bounce-in btm-social-icons"><a href="https://t.me/solariscoin"><em class="fab fa-telegram-plane"></em></a></li>
                            <li class="hvr-bounce-in btm-social-icons"><a href="https://discordapp.com/invite/wMcqapP"><em
                                        class="fab fa-discord"></em></a></li>
                            <li class="hvr-bounce-in btm-social-icons"><a href="https://www.reddit.com/r/solarisxlr/"><em
                                        class="fab fa-reddit-alien"></em></a></li>
                            <li class="hvr-bounce-in btm-social-icons"><a href="https://bitcointalk.org/index.php?topic=1831629.0"><em
                                        class="fab fa-bitcoin"></em></a></li>
                            <li class="hvr-bounce-in btm-social-icons"><a href="https://medium.com/@solarisxlr"><em
                                        class="fab fa-medium-m"></em></a></li>
                            <li class="hvr-bounce-in btm-social-icons"><a href="https://github.com/Solaris-Project/Solaris"><em
                                        class="fab fa-github"></em></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="gaps size-4x"></div>
        <div class="gaps size-2x d-none d-sm-block"></div>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-sm-12 col-lg-3 res-m-bttm">
                    <a class="footer-brand animated" data-animate="fadeInUp" data-delay=".2" href="./">
                        <img class="logo logo-light" alt="logo" src="images/logo-white2x.png" srcset="images/logo-white2x.png 2x">
                    </a>
                </div><!-- .col  -->
                <div class="col-sm-4 col-lg-2 res-l-bttm">
                    <ul class="link-widget one-column animated" data-animate="fadeInUp" data-delay=".3">
                        <li><a href="index.html#about" class="menu-link">About</a></li>
                        <li><a href="index.html#txbit" class="menu-link">Txbit.io</a></li>
                        <li><a href="index.html#wallets" class="menu-link">Wallets</a></li>
                        <li><a href="index.html#exchanges" class="menu-link">Exchanges</a></li>
                        <li><a href="team.html" class="menu-link">Team</a></li>
                        <li><a href="roadmap.html" class="menu-link">Roadmap</a></li>
                    </ul>
                </div><!-- .col  -->
                <div class="col-sm-4 col-lg-2 res-l-bttm">
                    <ul class="link-widget one-column animated" data-animate="fadeInUp" data-delay=".4">
                        <li><a href="coin-params.html" class="menu-link">Coin Parameters</a></li>
                        <li><a href="faq.html" class="menu-link">FAQ</a></li>
                        <li><a href="resources.html#whitepaper" class="menu-link">Whitepaper</a></li>
                        <li><a href="resources.html#press-pack" class="menu-link">Press Pack</a></li>
                        <li><a href="resources.html#explorers" class="menu-link">Chain Explorers</a></li>
                        <li><a href="http://solaris.helpsite.com/" class="menu-link" target="_blank">Solaris Helpsite</a></li>
                    </ul>
                </div><!-- .col  -->
                <div class="col-sm-4 col-lg-3">
                    <ul class="address-widget animated" data-animate="fadeInUp" data-delay=".5">
                        <li><strong>CONTACT US:</strong></li>
                        <li>admin@solariscoin.com</li>
                    </ul>
                </div><!-- .col  -->
            </div><!-- .row  -->
            <div class="row text-center">
                <div class="col">
                    <div class="copyright">
                        <p>©2018 Solaris. All rights reserved.</p>
                    </div>
                </div>
            </div>
        </div><!-- .container  -->
    </div>

    <!-- JavaScript (include all script here) -->

    <script src="https://nextparticle.nextco.de/nextparticle.min.js"></script>
    <script src="assets/js/jquery.bundle.js?ver=142"></script>
    <script src="assets/js/script.js?ver=142"></script>
    <script src="assets/js/custom.js"></script>

</body>

</html>