<!DOCTYPE html>
<html lang="zxx" class="js">

<head>
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-130503642-1"></script>
	<script>
		window.dataLayer = window.dataLayer || [];

		function gtag() {
			dataLayer.push(arguments);
		}
		gtag('js', new Date());

		gtag('config', 'UA-130503642-1');
	</script>
	<meta charset="utf-8">
	<meta name="author" content="Solaris [XLR]">
	<meta name="keywords" content="Solaris,Solariscoin,XLR,wallet,crypto,cryptocurrency,zerosolaris,zxlr,reward,program,txbit">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="Solaris is a decentralized open source cryptocurrency focused on privacy, innovation and advancement of technology.">
	<!-- Fav Icon  -->
	<link rel="shortcut icon" href="images/favicon.png">
	<!-- Site Title  -->
	<title>Home Page - Solaris (XLR) Cryptocurrency</title>
	<!-- Vendor Bundle CSS -->
	<link rel="stylesheet" href="assets/css/vendor.bundle.css?ver=142">
	<!-- NextParticle -->
	<link rel="stylesheet" href="https://s3-us-west-2.amazonaws.com/s.cdpn.io/23500/nextparticle-documentation.css">
	<!-- Custom styles for this template -->
	<link rel="stylesheet" href="assets/css/style.css?ver=142">
	<link rel="stylesheet" href="assets/css/theme.css?ver=142">

	<link rel="stylesheet" href="assets/css/vendor/hover-min.css">

	<link rel="stylesheet" href="assets/css/custom.css">

	<link rel="stylesheet" href="assets/css/responsive.css">


	<script type="text/javascript" src="https://files.coinmarketcap.com/static/widget/currency.js"></script>

</head>

<body class="theme-dark io-lobelia" data-spy="scroll" data-target="#mainnav" data-offset="80">

	<!-- Header -->
	<header class="site-header is-sticky">
		<!-- Navbar -->
		<div class="navbar navbar-expand-lg is-transparent sticky-top" id="mainnav">
			<nav class="container-fluid">

				<a class="navbar-brand animated smooth-scroll" data-animate="fadeInDown" data-delay=".4" href="#header">
					<img class="logo logo-light" alt="solaris-logo" src="images/logo-white.png" srcset="images/logo-white2x.png 2x"
					 style="pointer-events: none;">
				</a>

				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle">
					<span class="navbar-toggler-icon">
						<span class="ti ti-align-justify"></span>
					</span>
				</button>

				<div class="collapse navbar-collapse justify-content-end" id="navbarToggle">
					<ul class="navbar-nav animated remove-animation" data-animate="fadeInDown" data-delay=".5">
						<li class="nav-item smooth-scroll hvr-underline-from-left"><a class="nav-link menu-link" href="#about">About<span
								 class="sr-only">(current)</span></a></li>
						<li class="nav-item smooth-scroll hvr-underline-from-left"><a class="nav-link menu-link" href="#txbit">txbit.io</a></li>
						<li class="nav-item smooth-scroll hvr-underline-from-left"><a class="nav-link menu-link" href="#wallets">Wallets</a></li>
						<li class="nav-item smooth-scroll hvr-underline-from-left"><a class="nav-link menu-link" href="#exchanges">Exchanges</a></li>
						<li class="nav-item smooth-scroll hvr-underline-from-left"><a class="nav-link menu-link" href="team.html">Team</a></li>
						<li class="nav-item smooth-scroll hvr-underline-from-left"><a class="nav-link menu-link" href="roadmap.html">Roadmap</a></li>
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">Resources</a>
							<div class="dropdown-menu">
								<a class="dropdown-item menu-link hvr-underline-from-left" href="coin-params.html">Coin Parameters</a>
								<a class="dropdown-item menu-link hvr-underline-from-left" href="faq.html">FAQ</a>
								<a class="dropdown-item menu-link hvr-underline-from-left" href="resources.html">Whitepaper</a>
								<a class="dropdown-item menu-link hvr-underline-from-left" href="resources.html">Press Pack</a>
								<a class="dropdown-item menu-link hvr-underline-from-left" href="resources.html#explorers">Chain Explorers</a>
								<a class="dropdown-item menu-link hvr-underline-from-left" href="resources.html#mn-rank">Masternode Statistics</a>
								<a class="dropdown-item menu-link hvr-underline-from-left" href="resources.html#mn-host">Masternode Hosting</a>
								<a class="dropdown-item menu-link hvr-underline-from-left" href="index.html#medium">Solaris on Medium</a>
								<a class="dropdown-item menu-link hvr-underline-from-left" href="http://solaris.helpsite.com/" target="_blank"
								 title="Open Solaris Helpsire">Solaris Helpsite</a>
								 <a class="dropdown-item menu-link hvr-underline-from-left" href="calculator.html">Staking Calculator</a>
							</div>
						</li>
					</ul>
					<ul class="social animated" data-animate="fadeInUp" data-delay="0.5s" id="social-nav-bar">
						<li class="hvr-hang"><a href="https://twitter.com/SolarisCoin"><em class="fab fa-twitter"></em></a></li>
						<li class="hvr-hang"><a href="https://t.me/solariscoin"><em class="fab fa-telegram-plane"></em></a></li>
						<li class="hvr-hang"><a href="https://discordapp.com/invite/wMcqapP"><em class="fab fa-discord"></em></a></li>
						<li class="hvr-hang"><a href="https://www.reddit.com/r/solarisxlr/"><em class="fab fa-reddit-alien"></em></a></li>
						<li class="hvr-hang"><a href="https://bitcointalk.org/index.php?topic=1831629.0"><em class="fab fa-bitcoin"></em></a></li>
						<li class="hvr-hang"><a href="https://medium.com/@solarisxlr"><em class="fab fa-medium-m"></em></a></li>
						<li class="hvr-hang"><a href="https://github.com/Solaris-Project/Solaris"><em class="fab fa-github"></em></a></li>
					</ul>
				</div>
			</nav>
		</div>
		<!-- End Navbar -->

	</header>
	<!-- End Header -->


	<!-- Banner/Slider -->
	<div id="header" class="banner banner-curb banner-full d-flex align-items-center">
		<div class="container">
			<div class="banner-content">
				<div class="row justify-content-center align-items-center text-center">
					<div class="main-logo">
						<img class="next-particle" style="display: none;" data-particle-gap="10" data-noise="40" data-gravity=".5"
						 data-disable-interaction="true" data-width="1600" data-height="1600" src="images/Solaris-Icon-Light.png" alt="solaris-icon-background">
					</div>
					<div class="col-lg-10">
						<div class="header-image-lobelia animated" data-animate="fadeInUp" data-delay="1.25">
							<img src="/images/solaris-logo-white.svg" alt="header">
						</div>
					</div><!-- .col  -->
					<div class="col-lg-8">
						<div class="header-txt animated" data-animate="fadeInUp" data-delay="1.55">
							<h1>Security. Privacy. Liberty.</h1>
							<a href="#about" class="btn btn-main smooth-scroll hvr-sink"><i class="fas fa-angle-double-down fa-2x"></i></a>
						</div>
					</div><!-- .col  -->
				</div><!-- .row  -->
			</div><!-- .banner-content  -->
		</div><!-- .container  -->
	</div>
	<!-- End Banner/Slider -->


	<!-- What is Solaris -->
	<div class="section section-pad section-bg" id="about">
		<div class="container">
			<div class="row text-center">
				<div class="col-md-8 offset-md-2">
					<div class="section-head">
						<h2 class="section-title animated" data-animate="fadeInUp" data-delay="0">What is Solaris
							<span class="span-edit">XLR</span>
						</h2>
						<p class="animated" data-animate="fadeInUp" data-delay=".1">Solaris is a decentralized open source cryptocurrency
							focused on privacy, innovation and advancement of technology.
							Its environmentally friendly consensus protocol and supporting masternode network establishes Solaris as a
							secure, decentralized, self-sustaining, and privacy-focused cryptocurrency with instant transactions for
							everyday use.</p>
					</div>
				</div>
			</div>
			<div class="solution-list text-center">
				<div class="row">
					<div class="col-md-4 col-lg-4">
						<div class="solution-item animated" data-animate="fadeInUp" data-delay=".2">
							<div class="solution-icon">
								<img src="images/about-solaris/secure.png" alt="icon" style="pointer-events: none;">
							</div>
							<h5 class="solution-title">Secure</h5>
							<p>Based on the best features of Bitcoin, Pivx and ZeroCoin, Solaris is a unique, one of a kind coin that
								utilizes industry best practices.
								Solaris allows easy integration with existing technologies and platforms.</p>
						</div>
					</div>
					<div class="col-md-4 col-lg-4">
						<div class="solution-item animated" data-animate="fadeInUp" data-delay=".3">
							<div class="solution-icon">
								<img src="images/about-solaris/Private.png" alt="icon" style="pointer-events: none;">
							</div>
							<h5 class="solution-title">Private</h5>
							<p>We believe everyone deserves the choice of privacy, and we take that choice very seriously.
								Solaris utilizes the Zerocoin protocol, enabling completely anonymous and untraceable transactions should the
								user choose to do so.</p>
						</div>
					</div>
					<div class="col-md-4 col-lg-4">
						<div class="solution-item animated" data-animate="fadeInUp" data-delay=".4">
							<div class="solution-icon">
								<img src="images/about-solaris/efficient.png" alt="icon" style="pointer-events: none;">
							</div>
							<h5 class="solution-title">Efficient</h5>
							<p>Solaris uses a Proof of Stake consensus mechanism, which is an
								energy efficient method of securing the network and allows coin holders to participate and get rewarded for
								staking their coins.</p>
						</div>
					</div>
					<div class="col-md-4 col-lg-4">
						<div class="solution-item animated" data-animate="fadeInUp" data-delay=".5">
							<div class="solution-icon">
								<img src="images/about-solaris/masternodes.png" alt="icon" style="pointer-events: none;">
							</div>
							<h5 class="solution-title">Masternodes</h5>
							<p>Masternodes secure the network while providing essential functionality to Solaris such
								as locking transactions with SwiftTX and voting on budget funding. Masternode operators get rewarded for
								helping the network.</p>
						</div>
					</div>
					<div class="col-md-4 col-lg-4">
						<div class="solution-item animated" data-animate="fadeInUp" data-delay=".6">
							<div class="solution-icon">
								<img src="images/about-solaris/fast-and-scalable.png" alt="icon" style="pointer-events: none;">
							</div>
							<h5 class="solution-title">Fast & Scalable</h5>
							<p>Solaris Blockchain is optimized for fast transactions at a high capacity. Solaris users can instantaneously
								send XLR amongst themselves with ZERO confirmation wait time.</p>
						</div>
					</div>
					<div class="col-md-4 col-lg-4">
						<div class="solution-item animated" data-animate="fadeInUp" data-delay=".7">
							<div class="solution-icon">
								<img src="images/about-solaris/usability.png" alt="icon" style="pointer-events: none;">
							</div>
							<h5 class="solution-title">Usability</h5>
							<p>Solaris aims to be a widely used cryptocurrency via partnerships with online retailers and vendors, txbit.io
								exchange, marketplace integrations and ease of use with instant transaction times.</p>
						</div>
					</div>
				</div><!-- .row  -->
			</div><!-- .problems-list  -->

		</div><!-- .container  -->
	</div>
	<!-- End Section -->

	<!-- Partners -->
	<div class="section section-pad section-bg" id="partners">
		<div class="container">
			<div class="row text-center">
				<div class="col">
					<div class="section-head">
						<h2 class="section-title animated" data-animate="fadeInUp" data-delay="0">SOLARIS PARTNERS
							<span>Partners</span>
						</h2>
					</div>
				</div>
			</div>
			<div class="partner-list">
				<div class="row text-center">
					<div class="col-sm">
						<div class="single-partner animated" data-animate="fadeInUp" data-delay=".1">
							<a href="https://www.txbit.io" target="_blank" title="Visit txbit.io">
								<img src="images/partners/txbit.png" alt="solaris-partner">
							</a>
						</div>
					</div>
					<div class="col-sm">
						<div class="single-partner animated" data-animate="fadeInUp" data-delay=".2">
							<a href="https://flogmall.com/" target="_blank" title="Visit flogmall.com">
								<img src="images/partners/flogmall.png" alt="flogmall-partner">
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- End Section -->


	<!-- Txbit Exchange -->
	<section id="txbit">

		<div id="txbit-bg-diagonal" class="bg-parallax wow animated" data-animate="fadeInRightBig" data-wow-duration="1s"
		 data-wow-delay=".2s"></div>

		<div class="container">

			<div class="row">

				<div class="col-sm-12 col-md-12 col-lg-12">

					<div id="txbit-content-box">

						<div id="txbit-content-box-outer">

							<div id="txbit-content-box-inner">

								<div class="content-title wow animated fadeInLeftBig" data-wow-duration="1s" data-wow-delay=".5s">

									<div class="section-head">
										<h2 class="section-title animated" data-animate="fadeInLeftBig" data-delay="0">Txbit.io Exchange
											<span>txbit</span>
										</h2>
									</div>

								</div>

								<div id="txbit-description" class="wow animated" data-animate="fadeInLeftBig" data-wow-duration="1s"
								 data-wow-delay=".5s">
									<p>Solaris has part funded and participated in building the next generation cryptocurrency exchange txbit.io.
										Txbit is proudly made and based in the Netherlands, and operating as a Dutch publicly registered company.
										<br><br>An altcoin focused cryptocurrency exchange built from the ground up to meet today's demands in
										security, privacy, reliability and speed.
									</p>

									<div class="txbit-button wow animated" data-animate="fadeInUpBig" data-wow-duration="1s" data-wow-delay=".5s">
										<a class="btn btn-general hvr-grow" href="https://www.txbit.io" role="button" target="_blank" title="Visit txbit.io">Visit
											txbit.io</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End Section -->

	<!-- Solaris Reward Program - Middle -->
	<section id="middler">
		<div class="container-fluid">
			<div class="row text-center">
				<div class="col-lg-4 hvr-bounce-in">
					<div class="mid-text animated" data-animate="fadeInLeftBig" data-delay="0.5">
						<p>DUTCH BASED EXCHANGE</p>
					</div>
				</div>
				<div class="col-lg-4 hvr-bounce-in">
					<div class="mid-text animated" data-animate="fadeInUpBig" data-delay="1">
						<p>XLR BASE MARKETS</p>
					</div>

				</div>
				<div class="col-lg-4 hvr-bounce-in">
					<div class="mid-text animated" data-animate="fadeInRightBig" data-delay="1.5">
						<p>AND...</p>
					</div>
				</div>

			</div>
		</div>


	</section>
	<!-- End Section -->

	<!-- Solaris Reward Program -->
	<div class="section section-pad section-bg" id="solaris-reward">
		<div class="container">
			<div class="row text-center">
				<div class="col-lg-8 offset-lg-2">
					<div class="section-head">
						<h2 class="section-title animated" data-animate="fadeInUp" data-delay="0">Solaris Reward Program
							<span>Solaris</span>
						</h2>
						<p class="animated" data-animate="fadeInUp" data-delay=".1">Solaris is the first cryptocurrency which enables a
							secondary layer of rewards for operating a masternode or actively staking XLR.
							All masternodes and staking address are eligible to receive 50% of the Net trading fees from <strong>txbit.io</strong>,
							after costs and expenses.</p>
					</div>
				</div>
			</div>
			<div class="row align-items-center">
				<div class="col-md-5">
					<div class="res-m-btm imgfix animated" data-animate="fadeInUp" data-delay=".2">
						<img src="images/solaris-reward-program.png" alt="solaris-reward-program-graphic" style="pointer-events: none;">
					</div>
				</div><!-- .col  -->
				<div class="col-md-6 offset-md-1">
					<ul class="features-list-s2">
						<li class="features-item-s2 d-flex animated" data-animate="fadeInUp" data-delay=".3">
							<div class="features-icon-s2">
								<img src="images/reward-operate.png" alt="icon" style="pointer-events: none;"></div>
							<div class="features-texts-s2">
								<h5 class="features-title-s2">Operate</h5>
								<p>Set-up your masternode or start staking your Solaris coins.</p>
							</div>
						</li>
						<li class="features-item-s2 d-flex animated" data-animate="fadeInUp" data-delay=".4">
							<div class="features-icon-s2">
								<img src="images/reward-link.png" alt="icon" style="pointer-events: none;">
							</div>
							<div class="features-texts-s2">
								<h5 class="features-title-s2">Link</h5>
								<p>Register an account on <a href="www.txbit.io" target="_blank">txbit.io</a> and link your masternodes or
									staking addresses.</p>
							</div>
						</li>
						<li class="features-item-s2 d-flex animated" data-animate="fadeInUp" data-delay=".5">
							<div class="features-icon-s2">
								<img src="images/reward-diamond.png" alt="icon" style="pointer-events: none;">
							</div>
							<div class="features-texts-s2">
								<h5 class="features-title-s2">Receive</h5>
								<p>Get rewarded in BTC, ETH and XLR straight to your txbit account.</p>
							</div>
						</li>
					</ul>
				</div>

				<div id="xlr-reward-button">
					<div id="txbit-button" class="wow animated" data-animate="fadeInUpBig" data-wow-duration="1s" data-wow-delay=".5s">
						<a class="btn btn-general hvr-grow" href="https://medium.com/@txbit/a-detailed-look-into-solaris-reward-program-txbit-io-26e056dc1d22"
						 role="button" target="_blank" title="Read about Solaris Reward Program">Learn More</a>
					</div>
				</div><!-- .row  -->
			</div><!-- .container  -->
		</div>
	</div>
	<!-- End Section -->

	<!-- Wallets -->
	<div class="section section-pad section-bg-alt" id="wallets">
		<div class="background-shape bs-reverse"></div>
		<div class="container-fluid">
			<div class="row text-center">
				<div class="col">
					<div class="section-head">
						<h2 class="section-title animated" data-animate="fadeInUp" data-delay="0">Wallets
							<span>Download</span>
						</h2>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col res-m-bttm">
					<div class="features-box-s3 animated" data-animate="fadeInUp" data-delay=".2">
						<div class="features-icon-s3"><img src="images/wallets/windows.png" alt="windows-solaris-icon" style="pointer-events: none;"></div>
						<h5 class="features-title-s3">Windows</h5>
						<span class="features-subtitle-s3">Qt - Version 2.8.1</span>
						<div class="wallet-download">
							<a href="https://github.com/Solaris-Project/Solaris/releases/download/v2.8.1.0/solaris-qt-2.8.1.0-win64.zip"
							 class="btn btn-wallet hvr-grow">Download</a>
						</div>
					</div>
				</div>
				<div class="col res-m-bttm">
					<div class="features-box-s3 animated" data-animate="fadeInUp" data-delay=".3">
						<div class="features-icon-s3"><img src="images/wallets/apple.png" alt="apple-solaris-icon" style="pointer-events: none;"></div>
						<h5 class="features-title-s3">Mac OS</h5>
						<span class="features-subtitle-s3">Qt - Version 2.8.1</span>
						<a href="https://github.com/Solaris-Project/Solaris/releases/download/v2.8.1.0/solaris-qt-2.8.1.0-mac.zip" class="btn btn-wallet hvr-grow">Download</a>
					</div>
				</div>
				<div class="col res-m-bttm">
					<div class="features-box-s3 animated" data-animate="fadeInUp" data-delay=".4">
						<div class="features-icon-s3"><img src="images/wallets/linux.png" alt="linux-solarisicon" style="pointer-events: none;"></div>
						<h5 class="features-title-s3">Linux</h5>
						<span class="features-subtitle-s3">Qt - Version 2.8.1</span>
						<a href="https://github.com/Solaris-Project/Solaris/releases/download/v2.8.1.0/solaris-qt-2.8.1.0-linux64.tar.gz"
						 class="btn btn-wallet hvr-grow">Download</a>
					</div>
				</div>
				<div class="col res-m-bttm">
					<div class="features-box-s3 animated" data-animate="fadeInUp" data-delay=".5">
						<div class="features-icon-s3"><img src="images/wallets/raspberry.png" alt="raspberry-solaris-icon" style="pointer-events: none;"></div>
						<h5 class="features-title-s3">Raspberry</h5>
						<span class="features-subtitle-s3">Qt - Version 2.8.1</span>
						<a href="https://github.com/Solaris-Project/Solaris/releases/download/v2.8.1.0/solaris-qt-2.8.1.0-raspberry32.tar.gz"
						 class="btn btn-wallet hvr-grow">Download</a>
					</div>
				</div>
				<div class="col res-m-bttm">
					<div class="features-box-s3 animated" data-animate="fadeInUp" data-delay=".6">
						<div class="features-icon-s3"><img src="images/wallets/android.png" alt="android-solaris-icon" style="pointer-events: none;"></div>
						<h5 class="features-title-s3">Android</h5>
						<span class="features-subtitle-s3">Instant Private Transaction</span>
						<a href="https://play.google.com/store/apps/details?id=solaris.tech.ming" class="btn btn-wallet hvr-grow">Download</a>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="text-center animated" id="btstrp-dl" data-animate="fadeInUp" data-delay=".7">
					<div id="download-btstrp">
						<p>Speed up the synchronization time of your Qt wallet:</p>
					</div>
					<a href="https://www.solariscoin.com/bootstrap.zip">Download Bootstrap</a>
					<br>
					<a href="http://solaris.helpsite.com/articles/33283-using-bootstrap" id="how-to-btstrp">How to use bootstrap</a>
				</div>

			</div>

			<div class="row text-center">

				<div class="gaps size-2x"></div>

				<div class="col-md-12">
					<ul class="btns animated" data-animate="fadeInUp" data-delay=".7">
						<li><a href="https://github.com/Solaris-Project/Solaris" class="btn btn-general hvr-bob">View Source Code <i
								 class="fab fa-github-alt"></i></a>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<!-- End Section -->


	<!-- Exchanges -->
	<div class="section section-pad no-pb section-bg section-bg-pad section-connect" id="exchanges">
		<div class="container">

			<div class="row text-center">
				<div class="col-md-8 offset-md-2 col-lg-6 offset-lg-3">
					<div class="section-head">
						<h2 class="section-title animated" data-animate="fadeInUp" data-delay=".1">Exchanges
							<span>GET XLR</span>
						</h2>
					</div>
				</div>
			</div>

			<div class='row wow animated fadeInUpBig' data-wow-duration='1s' data-wow-delay='.5s'>

				<div class='col-md-12'>

					<div id="exchanges-all" class="owl-carousel owl-theme">
						<div class="exchange">
							<a href="https://txbit.io" target="_blank">
								<img src="images/exchanges/txbit.png" class="img-fluid" alt="exchange">
							</a>
						</div>
						<div class="exchange">
							<a href="https://www.kucoin.com" target="_blank">
								<img src="images/exchanges/kucoin.png" class="img-fluid" alt="exchange">
							</a>
						</div>
						<div class="exchange">
							<a href="https://www.coinexchange.io" target="_blank">
								<img src="images/exchanges/coinexchange.png" class="img-fluid" alt="exchange">
							</a>
						</div>
						<div class="exchange">
							<a href="https://crypto-bridge.org/" target="_blank">
								<img src="images/exchanges/cryptobridge.png" class="img-fluid" alt="exchange">
							</a>
						</div>
						<div class="exchange">
							<a href="https://www.ooobtc.com/" target="_blank">
								<img src="images/exchanges/ooobtc.png" class="img-fluid" alt="exchange">
							</a>
						</div>
					</div>

				</div>

			</div>


		</div>
	</div>
	<!-- End Section -->


	<!-- Medium-->
	<section class="section section-bg-alt blog section-connect" id="medium">
		<div class="container">
			<div class="row text-center">
				<div class="col">
					<div class="section-head">
						<h2 class="section-title animated" data-animate="fadeInUp" data-delay="0">Medium
							<span>Solaris On</span>
						</h2>
					</div>
				</div>
			</div>
			<div class="row text-center">
				<div id="medium-text">
					<p>Stay up-to-date with Solaris by following our official Medium account. Here you will find the latest articles
						from the team, all you have to do is click to dive deeper into the rabbit hole.</p>
				</div>
			</div>
			<!---->
			<div class="section-content" id="blogContent">
				<div class="row" id="jsonContent"></div>
			</div>
			<!-- /#blogContent-->
			<div class="text-center"><a class="btn btn-general hvr-bob" id="loadBlogPosts" href="https://medium.com/@solarisxlr">View
					All <span class="fa fa-angle-double-right"></span></a></div>
		</div>
		<!-- /.container-->
	</section>
	<!-- Blog-->


	<!-- Statistics -->
	<div class="section section-pad section-bg section-connect" id="stats">
		<div class="container">
			<div class="row text-center">
				<div class="col">
					<div class="section-head">
						<h2 class="section-title animated" data-animate="fadeInUp" data-delay="0">Stats
							<span>Updates</span>
						</h2>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md">
					<div class="coinmarketcap-currency-widget" data-currencyid="1606" data-base="USD" data-secondary="BTC" data-ticker="true"
					 data-rank="true" data-marketcap="true" data-volume="true" data-stats="USD" data-statsticker="true"></div>

				</div>
			</div>
			<div class="row">

				<div class="col-md">
					<div id="cryptocompare">
						<script type="text/javascript">
							baseUrl = "https://widgets.cryptocompare.com/";
							var scripts = document.getElementsByTagName("script");
							var embedder = scripts[scripts.length - 1];
							var cccTheme = {
								"General": {
									"background": "#0A1992",
									"borderColor": "#",
									"borderRadius": "4px 4px 0 0"
								},
								"Header": {
									"background": "#0A1992",
									"color": "#FFF",
									"displayFollowers": false
								},
								"Followers": {
									"background": "#0A1992",
									"color": "#fff",
									"borderColor": "#CCC",
									"counterBorderColor": "#CCC",
									"counterColor": "#000537"
								},
								"Data": {
									"priceColor": "#FFF",
									"infoLabelColor": "#CCC",
									"infoValueColor": "#CCC",
								},
								"Chart": {
									"fillColor": "rgba(86,202,158,0.5)",
									"borderColor": "#FFF"
								},
								"Conversion": {
									"background": "#0A1992",
									"color": "#0A1992"
								}
							};
							(function () {
								var appName = encodeURIComponent(window.location.hostname);
								if (appName == "") {
									appName = "local";
								}
								var s = document.createElement("script");
								s.type = "text/javascript";
								s.async = true;
								var theUrl = baseUrl + 'serve/v2/coin/chart?fsym=XLR&tsym=USD&period=1W';
								s.src = theUrl + (theUrl.indexOf("?") >= 0 ? "&" : "?") + "app=" + appName;
								embedder.parentNode.appendChild(s);
							})();
						</script>
					</div>

				</div>
				<div class="col-md">

					<a class="twitter-timeline" data-width="570" data-height="475" data-theme="dark" href="https://twitter.com/SolarisCoin?ref_src=twsrc%5Etfw"
					 data-chrome="nofooter noborders transparent noscrollbar noheader">Tweets by SolarisCoin</a>
					<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

				</div>


			</div>
		</div>
	</div>
	<!-- End Section -->

	<!-- Footer -->
	<div class="section footer-scetion">
		<div class="social-overlap">
			<div class="container">
				<div class="row justify-content-center">
					<div class="col-md-10">
						<ul class="social-bar animated" data-animate="fadeInUp" data-delay=".1">
							<li>Follow us</li>
							<li class="hvr-bounce-in btm-social-icons"><a href="https://twitter.com/SolarisCoin"><em class="fab fa-twitter"></em></a></li>
							<li class="hvr-bounce-in btm-social-icons"><a href="https://t.me/solariscoin"><em class="fab fa-telegram-plane"></em></a></li>
							<li class="hvr-bounce-in btm-social-icons"><a href="https://discordapp.com/invite/wMcqapP"><em class="fab fa-discord"></em></a></li>
							<li class="hvr-bounce-in btm-social-icons"><a href="https://www.reddit.com/r/solarisxlr/"><em class="fab fa-reddit-alien"></em></a></li>
							<li class="hvr-bounce-in btm-social-icons"><a href="https://bitcointalk.org/index.php?topic=1831629.0"><em class="fab fa-bitcoin"></em></a></li>
							<li class="hvr-bounce-in btm-social-icons"><a href="https://medium.com/@solarisxlr"><em class="fab fa-medium-m"></em></a></li>
							<li class="hvr-bounce-in btm-social-icons"><a href="https://github.com/Solaris-Project/Solaris"><em class="fab fa-github"></em></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="gaps size-4x"></div>
		<div class="gaps size-2x d-none d-sm-block"></div>
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-sm-12 col-lg-3 res-m-bttm">
					<a class="footer-brand animated" data-animate="fadeInUp" data-delay=".2" href="./">
						<img class="logo logo-light" alt="logo" src="images/logo-white2x.png" srcset="images/logo-white2x.png 2x">
					</a>
				</div><!-- .col  -->
				<div class="col-sm-4 col-lg-2 res-l-bttm">
					<ul class="link-widget one-column animated" data-animate="fadeInUp" data-delay=".3">
						<li><a href="#about" class="menu-link">About</a></li>
						<li><a href="#txbit" class="menu-link">Txbit.io</a></li>
						<li><a href="#wallets" class="menu-link">Wallets</a></li>
						<li><a href="#exchanges" class="menu-link">Exchanges</a></li>
						<li><a href="team.html" class="menu-link">Team</a></li>
						<li><a href="roadmap.html" class="menu-link">Roadmap</a></li>
					</ul>
				</div><!-- .col  -->
				<div class="col-sm-4 col-lg-2 res-l-bttm">
					<ul class="link-widget one-column animated" data-animate="fadeInUp" data-delay=".4">
						<li><a href="coin-params.html" class="menu-link">Coin Parameters</a></li>
						<li><a href="faq.html" class="menu-link">FAQ</a></li>
						<li><a href="resources.html#whitepaper" class="menu-link">Whitepaper</a></li>
						<li><a href="resources.html#press-pack" class="menu-link">Press Pack</a></li>
						<li><a href="resources.html#explorers" class="menu-link">Chain Explorers</a></li>
						<li><a href="http://solaris.helpsite.com/" class="menu-link" target="_blank">Solaris Helpsite</a></li>
					</ul>
				</div><!-- .col  -->
				<div class="col-sm-4 col-lg-3">
					<ul class="address-widget animated" data-animate="fadeInUp" data-delay=".5">
						<li><strong>CONTACT US:</strong></li>
						<li>admin@solariscoin.com</li>
					</ul>
				</div><!-- .col  -->
			</div><!-- .row  -->
			<div class="row text-center">
				<div class="col">
					<div class="copyright">
						<p>©2018 Solaris. All rights reserved.</p>
					</div>
				</div>
			</div>
		</div><!-- .container  -->
	</div>

	<!-- JavaScript (include all script here) -->


	<script src="assets/js/jquery.bundle.js?ver=142"></script>
	<script src="assets/js/script.js?ver=142"></script>
	<script src="https://nextparticle.nextco.de/nextparticle.min.js"></script>
	<script src="assets/js/custom.js"></script>

</body>

</html>