<!DOCTYPE html>
<html lang="zxx" class="js">

<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-130503642-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
  	function gtag(){dataLayer.push(arguments);}
  	gtag('js', new Date());

  	gtag('config', 'UA-130503642-1');
	</script>
    <meta charset="utf-8">
    <meta name="author" content="Solaris [XLR]">
    <meta name="keywords" content="Solaris,Solariscoin,XLR,wallet,crypto,cryptocurrency,zerosolaris,zxlr,solaris reward program,txbit,resources">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Find the latest Solaris whitepaper, press pack, explorers and ranking websites in the resources pages.">
    <!-- Fav Icon  -->
    <link rel="shortcut icon" href="images/favicon.png">
    <!-- Site Title  -->
    <title>Resources - Solaris (XLR) Cryptocurrency</title>
    <!-- Vendor Bundle CSS -->
    <link rel="stylesheet" href="assets/css/vendor.bundle.css?ver=142">
    <!-- NextParticle -->
    <link rel="stylesheet" href="https://s3-us-west-2.amazonaws.com/s.cdpn.io/23500/nextparticle-documentation.css">
    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="assets/css/style.css?ver=142">
    <link rel="stylesheet" href="assets/css/theme.css?ver=142">

    <link rel="stylesheet" href="assets/css/vendor/hover-min.css">

    <link rel="stylesheet" href="assets/css/custom.css">

    <link rel="stylesheet" href="assets/css/responsive.css">

</head>

<body class="theme-dark io-lobelia" data-spy="scroll" data-target="#mainnav" data-offset="80">

    <!-- Header -->
    <header class="site-header is-sticky">
        <!-- Navbar -->
        <div class="navbar navbar-expand-lg is-transparent sticky-top" id="mainnav">
            <nav class="container-fluid">

                <a class="navbar-brand animated" data-animate="fadeInDown" data-delay=".5" href="index.html#about">
                    <img class="logo logo-light" alt="solaris-logo" src="images/logo-white.png" srcset="images/logo-white2x.png 2x"
                        style="pointer-events: none;">
                </a>

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle">
                    <span class="navbar-toggler-icon">
                        <span class="ti ti-align-justify"></span>
                    </span>
                </button>

                <div class="collapse navbar-collapse justify-content-end" id="navbarToggle">
                    <ul class="navbar-nav animated remove-animation" data-animate="fadeInDown" data-delay=".5">
                        <li class="nav-item smooth-scroll hvr-underline-from-left"><a class="nav-link menu-link" href="index.html">Home</a></li>
                        <li class="nav-item smooth-scroll hvr-underline-from-left"><a class="nav-link menu-link" href="index.html#about">About</a></li>
                        <li class="nav-item smooth-scroll hvr-underline-from-left"><a class="nav-link menu-link" href="index.html#txbit">txbit.io</a></li>
                        <li class="nav-item smooth-scroll hvr-underline-from-left"><a class="nav-link menu-link" href="index.html#wallets">Wallets</a></li>
                        <li class="nav-item smooth-scroll hvr-underline-from-left"><a class="nav-link menu-link" href="index.html#exchanges">Exchanges</a></li>
                        <li class="nav-item smooth-scroll hvr-underline-from-left"><a class="nav-link menu-link" href="team.html">Team</a></li>
                        <li class="nav-item smooth-scroll hvr-underline-from-left"><a class="nav-link menu-link" href="roadmap.html">Roadmap</a></li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">Resources<span class="sr-only">(current)</span></a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item menu-link hvr-underline-from-left" href="coin-params.html">Coin
                                    Parameters</a>
                                <a class="dropdown-item menu-link hvr-underline-from-left" href="faq.html">FAQ</a>
                                <a class="dropdown-item menu-link hvr-underline-from-left" href="resources.html">Whitepaper</a>
                                <a class="dropdown-item menu-link hvr-underline-from-left" href="resources.html">Press
                                    Pack</a>
                                <a class="dropdown-item menu-link hvr-underline-from-left" href="resources.html#explorers">Chain
                                    Explorers</a>
                                <a class="dropdown-item menu-link hvr-underline-from-left" href="resources.html#mn-rank">Masternode
                                    Stats</a>
                                <a class="dropdown-item menu-link hvr-underline-from-left" href="resources.html#mn-host">Masternode
                                    Hosting</a>
                                <a class="dropdown-item menu-link hvr-underline-from-left" href="index.html#medium">Solaris
                                    on Medium</a>
                                <a class="dropdown-item menu-link hvr-underline-from-left" href="http://solaris.helpsite.com/"
                                    target="_blank" title="Open Solaris Helpsire">Solaris
                                    Helpsite</a>
                                <a class="dropdown-item menu-link hvr-underline-from-left" href="calculator.html">Staking Calculator</a>
                            </div>
                        </li>
                    </ul>
                    <ul class="social animated" data-animate="fadeInUp" data-delay="0.5s" id="social-nav-bar">
                        <li class="hvr-hang"><a href="https://twitter.com/SolarisCoin"><em class="fab fa-twitter"></em></a></li>
                        <li class="hvr-hang"><a href="https://t.me/solariscoin"><em class="fab fa-telegram-plane"></em></a></li>
                        <li class="hvr-hang"><a href="https://discordapp.com/invite/wMcqapP"><em class="fab fa-discord"></em></a></li>
                        <li class="hvr-hang"><a href="https://www.reddit.com/r/solarisxlr/"><em class="fab fa-reddit-alien"></em></a></li>
                        <li class="hvr-hang"><a href="https://bitcointalk.org/index.php?topic=1831629.0"><em class="fab fa-bitcoin"></em></a></li>
                        <li class="hvr-hang"><a href="https://medium.com/@solarisxlr"><em class="fab fa-medium-m"></em></a></li>
                        <li class="hvr-hang"><a href="https://github.com/Solaris-Project/Solaris"><em class="fab fa-github"></em></a></li>
                    </ul>
                </div>
            </nav>
        </div>
        <!-- End Navbar -->

    </header>
    <!-- End Header -->



    <!-- Resources -->
    <div class="section section-pad section-bg inner-bg " id="resources">
        <div class="container">
            <div class="row text-center">
                <div class="col">
                    <div class="section-head">
                        <h2 class="section-title animated" data-animate="bounceInDown" data-delay="0.4">Resources
                            <span>Services</span>
                        </h2>
                    </div>
                </div>
            </div>

            <div class="row justify-content-center">

                <div class="col-md-6 col-lg-5" id="whitepaper">
                    <div class="resources-big-box animated" data-animate="fadeInUp" data-delay="0.2s">
                        <div class="big-box-text text-center">
                            <p>Whitepaper</p>
                            <span>Version v 0.1</span>
                            <div class="big-box-img">
                                <img src="images/resources/whitepaper.png" alt="solaris-whitepaper-download" style="pointer-events: none;">
                            </div>
                            <a href="https://drive.google.com/file/d/1SbNqXtPRv2yX5veerVudMivc2p3b8Kux/view?usp=sharing"
                                class="btn btn-general hvr-grow" target=" _blank" title="Read Solaris White Paper">Read</a>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-lg-5" id="press-pack">
                    <div class="resources-big-box animated" data-animate="fadeInUp" data-delay="0.3s">
                        <div class="big-box-text text-center">
                            <p>Press Pack</p>
                            <span>Logos, graphics & animations</span>
                            <div class="big-box-img">
                                <img src="images/resources/press-pack.png" alt="solaris-whitepaper-download" style="pointer-events: none;">
                            </div>
                            <a href="https://drive.google.com/open?id=1HWYajlqEszCewdVY4Nn-RtCm7rOviCHQ" class="btn btn-general hvr-grow"
                                target="_blank" title="View Press Pack Files">View</a>
                        </div>
                    </div>
                </div>

            </div>

            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="params-title text-center animated" data-animate="fadeInUpBig" data-delay=".2" id="explorers">
                        <p>Explorers</p>
                    </div>

                    <div class="row">
                        <div class="col-md-4 col-lg-4 hvr-bob">
                            <a href="https://solaris.blockexplorer.pro/">
                                <div class="token-stage animated" data-animate="fadeInUp" data-delay=".4">
                                    <div class="token-stage-title param-title-left">Solaris Official</div>
                                    <div class="token-stage-date param-desc-left-1 resources-items">

                                        <img src="images/logo-white.png" alt="solaris-logo" style="pointer-events: none;">

                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-4 col-lg-4 hvr-bob">
                            <a href="https://chainz.cryptoid.info/xlr/">
                                <div class="token-stage animated" data-animate="fadeInUp" data-delay=".4">
                                    <div class="token-stage-title param-title-left">CryptoID</div>
                                    <div class="token-stage-date param-desc-left-1 resources-items">

                                        <img src="images/resources/cryptoid.png" alt="cryptoid-logo" style="pointer-events: none;">

                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-4 col-lg-4 hvr-bob">
                            <a href="https://xlr.ccore.online/">
                                <div class="token-stage animated" data-animate="fadeInUp" data-delay=".4">
                                    <div class="token-stage-title param-title-left">Cryptocore</div>
                                    <div class="token-stage-date param-desc-left-1 resources-items">

                                        <h3>CRYPTOCORE</h3>

                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="params-title text-center animated" data-animate="fadeInUp" data-delay=".2" id="mn-rank">
                        <p>Masternode Statistic</p>
                    </div>

                    <div class="row justify-content-center">
                        <div class="col-md-4 col-lg-4 hvr-bob">
                            <a href="https://masternodes.online/currencies/XLR">
                                <div class="token-stage animated" data-animate="fadeInUp" data-delay=".4">
                                    <div class="token-stage-title param-title-left">Masternodes.online</div>
                                    <div class="token-stage-date param-desc-left-1 resources-items">

                                        <img src="images/resources/mno.png" alt="solaris-logo" style="pointer-events: none;">

                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-4 col-lg-4 hvr-bob">
                            <a href="https://mnrank.com/coin/XLR/">
                                <div class="token-stage animated" data-animate="fadeInUp" data-delay=".4">
                                    <div class="token-stage-title param-title-left">MNRANK</div>
                                    <div class="token-stage-date param-desc-left-1 resources-items">

                                        <img src="images/resources/mnrank.png" alt="cryptoid-logo" style="pointer-events: none;">

                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="params-title text-center animated" data-animate="fadeInUp" data-delay=".2" id="mn-host">
                        <p>Masternode Hosting</p>
                    </div>

                    <div class="row">
                        <div class="col-md-4 col-lg-4 hvr-bob">
                            <a href="https://p.ginplatform.io/#!/">
                                <div class="token-stage animated" data-animate="fadeInUp" data-delay=".4">
                                    <div class="token-stage-title param-title-left">GIN Platform</div>
                                    <div class="token-stage-date param-desc-left-1 resources-items">

                                        <img src="images/resources/gin.png" alt="solaris-logo" style="pointer-events: none;">

                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-4 col-lg-4 hvr-bob">
                            <a href="https://nodesupply.com/guides/solaris">
                                <div class="token-stage animated" data-animate="fadeInUp" data-delay=".4">
                                    <div class="token-stage-title param-title-left">NODESUPPLY</div>
                                    <div class="token-stage-date param-desc-left-1 resources-items">

                                        <img src="images/resources/nodesupply.png" alt="cryptoid-logo" style="pointer-events: none;">

                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-4 col-lg-4 hvr-bob">
                            <a href="https://www.nodeshare.in/product/solaris-masternode-hosting/">
                                <div class="token-stage animated" data-animate="fadeInUp" data-delay=".4">
                                    <div class="token-stage-title param-title-left">NODESHARE</div>
                                    <div class="token-stage-date param-desc-left-1 resources-items">

                                        <img src="images/resources/nodeshare.png" alt="cryptoid-logo" style="pointer-events: none;">

                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Section -->


    <!-- Footer -->
    <div class="section footer-scetion">
        <div class="social-overlap">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-10">
                        <ul class="social-bar animated" data-animate="fadeInUp" data-delay=".1">
                            <li>Follow us</li>
                            <li class="hvr-bounce-in btm-social-icons"><a href="https://twitter.com/SolarisCoin"><em
                                        class="fab fa-twitter"></em></a></li>
                            <li class="hvr-bounce-in btm-social-icons"><a href="https://t.me/solariscoin"><em class="fab fa-telegram-plane"></em></a></li>
                            <li class="hvr-bounce-in btm-social-icons"><a href="https://discordapp.com/invite/wMcqapP"><em
                                        class="fab fa-discord"></em></a></li>
                            <li class="hvr-bounce-in btm-social-icons"><a href="https://www.reddit.com/r/solarisxlr/"><em
                                        class="fab fa-reddit-alien"></em></a></li>
                            <li class="hvr-bounce-in btm-social-icons"><a href="https://bitcointalk.org/index.php?topic=1831629.0"><em
                                        class="fab fa-bitcoin"></em></a></li>
                            <li class="hvr-bounce-in btm-social-icons"><a href="https://medium.com/@solarisxlr"><em
                                        class="fab fa-medium-m"></em></a></li>
                            <li class="hvr-bounce-in btm-social-icons"><a href="https://github.com/Solaris-Project/Solaris"><em
                                        class="fab fa-github"></em></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="gaps size-4x"></div>
        <div class="gaps size-2x d-none d-sm-block"></div>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-sm-12 col-lg-3 res-m-bttm">
                    <a class="footer-brand animated" data-animate="fadeInUp" data-delay=".2" href="./">
                        <img class="logo logo-light" alt="logo" src="images/logo-white2x.png" srcset="images/logo-white2x.png 2x">
                    </a>
                </div><!-- .col  -->
                <div class="col-sm-4 col-lg-2 res-l-bttm">
                    <ul class="link-widget one-column animated" data-animate="fadeInUp" data-delay=".3">
                        <li><a href="index.html#about" class="menu-link">About</a></li>
                        <li><a href="index.html#txbit" class="menu-link">Txbit.io</a></li>
                        <li><a href="index.html#wallets" class="menu-link">Wallets</a></li>
                        <li><a href="index.html#exchanges" class="menu-link">Exchanges</a></li>
                        <li><a href="team.html" class="menu-link">Team</a></li>
                        <li><a href="roadmap.html" class="menu-link">Roadmap</a></li>
                    </ul>
                </div><!-- .col  -->
                <div class="col-sm-4 col-lg-2 res-l-bttm">
                    <ul class="link-widget one-column animated" data-animate="fadeInUp" data-delay=".4">
                        <li><a href="coin-params.html" class="menu-link">Coin Parameters</a></li>
                        <li><a href="faq.html" class="menu-link">FAQ</a></li>
                        <li><a href="resources.html#whitepaper" class="menu-link">Whitepaper</a></li>
                        <li><a href="resources.html#press-pack" class="menu-link">Press Pack</a></li>
                        <li><a href="resources.html#explorers" class="menu-link">Chain Explorers</a></li>
                        <li><a href="http://solaris.helpsite.com/" class="menu-link" target="_blank">Solaris Helpsite</a></li>
                    </ul>
                </div><!-- .col  -->
                <div class="col-sm-4 col-lg-3">
                    <ul class="address-widget animated" data-animate="fadeInUp" data-delay=".5">
                        <li><strong>CONTACT US:</strong></li>
                        <li>admin@solariscoin.com</li>
                    </ul>
                </div><!-- .col  -->
            </div><!-- .row  -->
            <div class="row text-center">
                <div class="col">
                    <div class="copyright">
                        <p>©2018 Solaris. All rights reserved.</p>
                    </div>
                </div>
            </div>
        </div><!-- .container  -->
    </div>

    <!-- JavaScript (include all script here) -->

    <script src="https://nextparticle.nextco.de/nextparticle.min.js"></script>
    <script src="assets/js/jquery.bundle.js?ver=142"></script>
    <script src="assets/js/script.js?ver=142"></script>
    <script src="assets/js/custom.js"></script>

</body>

</html>