<!DOCTYPE html>
<html lang="zxx" class="js">

<head>
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-130503642-1"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
  	function gtag(){dataLayer.push(arguments);}
  	gtag('js', new Date());

  	gtag('config', 'UA-130503642-1');
	</script>
	<meta charset="utf-8">
	<meta name="author" content="Solaris [XLR]">
	<meta name="keywords" content="Solaris,Solariscoin,XLR,wallet,crypto,cryptocurrency,zerosolaris,zxlr,reward,program,txbit,roadmap">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="Click here to see the Solaris Roadmap and get a sense of all the work that is planned in the near future.">
	<!-- Fav Icon  -->
	<link rel="shortcut icon" href="images/favicon.png">
	<!-- Site Title  -->
	<title>Roadmap - Solaris (XLR) Cryptocurrency</title>
	<!-- Vendor Bundle CSS -->
	<link rel="stylesheet" href="assets/css/vendor.bundle.css?ver=142">
	<!-- NextParticle -->
	<link rel="stylesheet" href="https://s3-us-west-2.amazonaws.com/s.cdpn.io/23500/nextparticle-documentation.css">
	<!-- Custom styles for this template -->
	<link rel="stylesheet" href="assets/css/style.css?ver=142">
	<link rel="stylesheet" href="assets/css/theme.css?ver=142">

	<link rel="stylesheet" href="assets/css/vendor/hover-min.css">

	<link rel="stylesheet" href="assets/css/custom.css">

	<link rel="stylesheet" href="assets/css/responsive.css">

</head>

<body class="theme-dark io-lobelia" data-spy="scroll" data-target="#mainnav" data-offset="80">

	<!-- Header -->
	<header class="site-header is-sticky">
		<!-- Navbar -->
		<div class="navbar navbar-expand-lg is-transparent sticky-top" id="mainnav">
			<nav class="container-fluid">

				<a class="navbar-brand animated" data-animate="fadeInDown" data-delay=".5" href="index.html">
					<img class="logo logo-light" alt="solaris-logo" src="images/logo-white.png" srcset="images/logo-white2x.png 2x"
					 style="pointer-events: none;" data-toggle="tab">
				</a>

				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle">
					<span class="navbar-toggler-icon">
						<span class="ti ti-align-justify"></span>
					</span>
				</button>

				<div class="collapse navbar-collapse justify-content-end" id="navbarToggle">
					<ul class="navbar-nav animated remove-animation" data-animate="fadeInDown" data-delay=".5">
						<li class="nav-item smooth-scroll hvr-underline-from-left"><a class="nav-link menu-link" href="index.html">Home</a></li>
						<li class="nav-item smooth-scroll hvr-underline-from-left"><a class="nav-link menu-link" href="index.html#about">About</a></li>
						<li class="nav-item smooth-scroll hvr-underline-from-left"><a class="nav-link menu-link" href="index.html#txbit">txbit.io</a></li>
						<li class="nav-item smooth-scroll hvr-underline-from-left"><a class="nav-link menu-link" href="index.html#wallets">Wallets</a></li>
						<li class="nav-item smooth-scroll hvr-underline-from-left"><a class="nav-link menu-link" href="index.html#exchanges">Exchanges</a></li>
						<li class="nav-item smooth-scroll hvr-underline-from-left"><a class="nav-link menu-link" href="team.html">Team</a></li>
						<li class="nav-item smooth-scroll hvr-underline-from-left"><a class="nav-link menu-link" href="roadmap.html">Roadmap<span
								 class="sr-only">(current)</span></a></li>
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">Resources</a>
							<div class="dropdown-menu">
								<a class="dropdown-item menu-link hvr-underline-from-left" href="coin-params.html">Coin Parameters</a>
								<a class="dropdown-item menu-link hvr-underline-from-left" href="faq.html">FAQ</a>
								<a class="dropdown-item menu-link hvr-underline-from-left" href="resources.html">Whitepaper</a>
								<a class="dropdown-item menu-link hvr-underline-from-left" href="resources.html">Press Pack</a>
								<a class="dropdown-item menu-link hvr-underline-from-left" href="resources.html#explorers">Chain Explorers</a>
								<a class="dropdown-item menu-link hvr-underline-from-left" href="resources.html#mn-rank">Masternode Stats</a>
								<a class="dropdown-item menu-link hvr-underline-from-left" href="resources.html#mn-host">Masternode Hosting</a>
								<a class="dropdown-item menu-link hvr-underline-from-left" href="index.html#medium">Solaris on Medium</a>
								<a class="dropdown-item menu-link hvr-underline-from-left" href="http://solaris.helpsite.com/" target="_blank"
								 title="Open Solaris Helpsire">Solaris Helpsite</a>
								<a class="dropdown-item menu-link hvr-underline-from-left" href="calculator.html">Staking Calculator</a>
							</div>
						</li>
					</ul>
					<ul class="social animated" data-animate="fadeInUp" data-delay="0.5s" id="social-nav-bar">
						<li class="hvr-hang"><a href="https://twitter.com/SolarisCoin"><em class="fab fa-twitter"></em></a></li>
						<li class="hvr-hang"><a href="https://t.me/solariscoin"><em class="fab fa-telegram-plane"></em></a></li>
						<li class="hvr-hang"><a href="https://discordapp.com/invite/wMcqapP"><em class="fab fa-discord"></em></a></li>
						<li class="hvr-hang"><a href="https://www.reddit.com/r/solarisxlr/"><em class="fab fa-reddit-alien"></em></a></li>
						<li class="hvr-hang"><a href="https://bitcointalk.org/index.php?topic=1831629.0"><em class="fab fa-bitcoin"></em></a></li>
						<li class="hvr-hang"><a href="https://medium.com/@solarisxlr"><em class="fab fa-medium-m"></em></a></li>
						<li class="hvr-hang"><a href="https://github.com/Solaris-Project/Solaris"><em class="fab fa-github"></em></a></li>
					</ul>
				</div>
			</nav>
		</div>
		<!-- End Navbar -->

	</header>
	<!-- End Header -->



	<!-- Roadmap -->
	<div class="section section-pad section-bg inner-bg" id="roadmap">
		<div class="container">
			<div class="row text-center">
				<div class="col">
					<div class="section-head">
						<h2 class="section-title animated" data-animate="bounceInDown" data-delay="0">Roadmap
							<span>Progress</span>
						</h2>
					</div>
				</div>
			</div>
			<div class="timeline-row timeline-row-odd timeline-row-done animated" data-animate="fadeInUp" data-delay=".4">
				<div class="row no-gutters text-left text-lg-center justify-content-center">
					<div class="col-lg">
						<div class="timeline-item timeline-done">
							<span class="timeline-date">2017 April</span>
							<h6 class="timeline-title">Solaris Launch</h6>
							<ul class="timeline-info">
								<li>MainNet launch - NIST5 Algo</li>
								<li>Brand building and early Expansion</li>
								<li>Expanding Team</li>
							</ul>
						</div>
					</div>
					<div class="col-lg">
						<div class="timeline-item timeline-done">
							<span class="timeline-date">2017 Q3</span>
							<h6 class="timeline-title">Solaris Reborn</h6>
							<ul class="timeline-info">
								<li>Solaris XEVAN algorithm relaunch</li>
								<li>Masternodes Implemented</li>
								<li>Expanding Team</li>
							</ul>
						</div>
					</div>
					<div class="col-lg">
						<div class="timeline-item timeline-done">
							<span class="timeline-date">2017 Q4</span>
							<h6 class="timeline-title">Expansion</h6>
							<ul class="timeline-info">
								<li>Website Redesign</li>
								<li>zXLR wallet Release</li>
								<li>KuCoin Listing</li>
							</ul>
						</div>
					</div>
					<div class="col-lg">
						<div class="timeline-item timeline-done">
							<span class="timeline-date">2018 Q1</span>
							<h6 class="timeline-title">Pre-PoS</h6>
							<ul class="timeline-info">
								<li>Brand Refresh - Updated logo and website</li>
								<li>Android Wallet Launch</li>
								<li>Announced Txbit.io</li>
							</ul>
						</div>
					</div>

				</div>
			</div>
			<div class="timeline-row timeline-row-even animated" data-animate="fadeInUp" data-delay=".4">
				<div class="row no-gutters text-left text-lg-center justify-content-center flex-row-reverse">
					<div class="col-lg">
						<div class="timeline-item timeline-done">
							<span class="timeline-date">2018 Q2</span>
							<h6 class="timeline-title">Post-PoS</h6>
							<ul class="timeline-info">
								<li>Proof-of-Stake enabled</li>
								<li>Zerocoin Transactions implemented</li>
								<li>FlogMall.com Partnership</li>
							</ul>
						</div>
					</div>
					<div class="col-lg">
						<div class="timeline-item timeline-done">
							<span class="timeline-date">2018 Q3</span>
							<h6 class="timeline-title">Update</h6>
							<ul class="timeline-info">
								<li>GIN Masternode platform integration</li>
								<li>Bitfineon Exchange listing agreement</li>
							</ul>
						</div>
					</div>
					<div class="col-lg">
						<div class="timeline-item timeline-current">
							<span class="timeline-date">2018 Q4</span>
							<h6 class="timeline-title">Beta v1 Release</h6>
							<ul class="timeline-info">
								<li>Txbit.io Beta v1 Release - Testnet</li>
								<li>Website Redesign</li>
							</ul>
						</div>
					</div>
					<div class="col-lg">
						<div class="timeline-item timeline-item-next">
							<span class="timeline-date">2019 Q1</span>
							<h6 class="timeline-title">Full Launch</h6>
							<ul class="timeline-info">
								<li>Txbit.io Full Launch</li>
								<li>Solaris Reward Program</li>
								<li>Multiple languages on Solaris website</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="timeline-row timeline-row-odd timeline-row-last mb--x5 animated" data-animate="fadeInUp" data-delay=".4">
				<div class="row no-gutters text-left text-lg-center justify-content-center">
					<div class="col-lg">
						<div class="timeline-item timeline-item-next">
							<span class="timeline-date">2019 Q2</span>
							<h6 class="timeline-title">Update</h6>
							<ul class="timeline-info">
								<li>Txbit.io Expansion and Updates</li>
								<li>Governance Implementation</li>
								<li>Updated Explorer (Name:TBD)</li>
							</ul>
						</div>
					</div>
					<div class="col-lg">
						<div class="timeline-item timeline-item-next">
							<span class="timeline-date">2019 Q3</span>
							<h6 class="timeline-title">Release</h6>
							<ul class="timeline-info">
								<li>Wallet GUI and codebase update</li>
								<li>zXLR staking enabled</li>
							</ul>
						</div>
					</div>
					<div class="col-lg">
						<div class="timeline-item timeline-item-next">
							<span class="timeline-date">2019 Q4+</span>
							<h6 class="timeline-title">Nuclear</h6>
							<ul class="timeline-info">
								<li>Atomic Swap implementation</li>
								<li>Stay tuned for more updates...</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="gaps size-2x d-lg-none"></div>
		</div>
	</div>
	<!-- End Section -->


	<!-- Footer -->
	<div class="section footer-scetion">
		<div class="social-overlap">
			<div class="container">
				<div class="row justify-content-center">
					<div class="col-md-10">
						<ul class="social-bar animated" data-animate="fadeInUp" data-delay=".1">
							<li>Follow us</li>
							<li class="hvr-bounce-in btm-social-icons"><a href="https://twitter.com/SolarisCoin"><em class="fab fa-twitter"></em></a></li>
							<li class="hvr-bounce-in btm-social-icons"><a href="https://t.me/solariscoin"><em class="fab fa-telegram-plane"></em></a></li>
							<li class="hvr-bounce-in btm-social-icons"><a href="https://discordapp.com/invite/wMcqapP"><em class="fab fa-discord"></em></a></li>
							<li class="hvr-bounce-in btm-social-icons"><a href="https://www.reddit.com/r/solarisxlr/"><em class="fab fa-reddit-alien"></em></a></li>
							<li class="hvr-bounce-in btm-social-icons"><a href="https://bitcointalk.org/index.php?topic=1831629.0"><em class="fab fa-bitcoin"></em></a></li>
							<li class="hvr-bounce-in btm-social-icons"><a href="https://medium.com/@solarisxlr"><em class="fab fa-medium-m"></em></a></li>
							<li class="hvr-bounce-in btm-social-icons"><a href="https://github.com/Solaris-Project/Solaris"><em class="fab fa-github"></em></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="gaps size-4x"></div>
		<div class="gaps size-2x d-none d-sm-block"></div>
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-sm-12 col-lg-3 res-m-bttm">
					<a class="footer-brand animated" data-animate="fadeInUp" data-delay=".2" href="./">
						<img class="logo logo-light" alt="logo" src="images/logo-white2x.png" srcset="images/logo-white2x.png 2x">
					</a>
				</div><!-- .col  -->
				<div class="col-sm-4 col-lg-2 res-l-bttm">
					<ul class="link-widget one-column animated" data-animate="fadeInUp" data-delay=".3">
						<li><a href="index.html#about" class="menu-link">About</a></li>
						<li><a href="index.html#txbit" class="menu-link">Txbit.io</a></li>
						<li><a href="index.html#wallets" class="menu-link">Wallets</a></li>
						<li><a href="index.html#exchanges" class="menu-link">Exchanges</a></li>
						<li><a href="team.html" class="menu-link">Team</a></li>
						<li><a href="roadmap.html" class="menu-link">Roadmap</a></li>
					</ul>
				</div><!-- .col  -->
				<div class="col-sm-4 col-lg-2 res-l-bttm">
					<ul class="link-widget one-column animated" data-animate="fadeInUp" data-delay=".4">
						<li><a href="coin-params.html" class="menu-link">Coin Parameters</a></li>
						<li><a href="faq.html" class="menu-link">FAQ</a></li>
						<li><a href="resources.html#whitepaper" class="menu-link">Whitepaper</a></li>
						<li><a href="resources.html#press-pack" class="menu-link">Press Pack</a></li>
						<li><a href="resources.html#explorers" class="menu-link">Chain Explorers</a></li>
						<li><a href="http://solaris.helpsite.com/" class="menu-link" target="_blank">Solaris Helpsite</a></li>
					</ul>
				</div><!-- .col  -->
				<div class="col-sm-4 col-lg-3">
					<ul class="address-widget animated" data-animate="fadeInUp" data-delay=".5">
						<li><strong>CONTACT US:</strong></li>
						<li>admin@solariscoin.com</li>
					</ul>
				</div><!-- .col  -->
			</div><!-- .row  -->
			<div class="row text-center">
				<div class="col">
					<div class="copyright">
						<p>©2018 Solaris. All rights reserved.</p>
					</div>
				</div>
			</div>
		</div><!-- .container  -->
	</div>

	<!-- JavaScript (include all script here) -->

	<script src="https://nextparticle.nextco.de/nextparticle.min.js"></script>
	<script src="assets/js/jquery.bundle.js?ver=142"></script>
	<script src="assets/js/script.js?ver=142"></script>
	<script src="assets/js/custom.js"></script>

</body>

</html>